.section {
    background-color: #fff;
    margin: 5px 0;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    border-bottom: 2px solid #ddd;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding: 20px;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
    font-size: 20px;
}

.section__body {
    padding: 20px;
}